:root{
    --text: #e2e6fc;
    --background: #010310;
     --bg2: #131420; 
    --primary: #8092f3;
    --secondary: #970e34;
    --accent: #ea5d23;
    
--linearPrimarySecondary: linear-gradient(#adb0c7, #5c4362);
--linearPrimaryAccent: linear-gradient(#adb0c7, #aa82a8);
--linearSecondaryAccent: linear-gradient(#5c4362, #aa82a8);
--radialPrimarySecondary: radial-gradient(#adb0c7, #5c4362);
--radialPrimaryAccent: radial-gradient(#adb0c7, #aa82a8);
--radialSecondaryAccent: radial-gradient(#5c4362, #aa82a8);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /* font-family: 'Alata', sans-serif;
font-family: 'Alfa Slab One', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', sans-serif; */
font-family: 'Manrope', sans-serif;
/* font-family: 'Rajdhani', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
}

*::selection{
    background-color: var(--accent);
    color: var(--text);
}
*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--text);
    border-radius: 17rem;
}
html{
    font-size: 65%;
    overflow-x: hidden;
}
body{
    color: #fff;
    background: var(--bg2);
    height: 100vmax;
    width: auto;
    /* padding-left: 6rem; */
}
section{
    padding: 2rem;
    max-width: auto;
    margin: 0 auto;
}
.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    color: var(--background);
    font-weight: bold;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn{
    display: block;
    width: 100%;
}
.inline-btn,
.inline-option-btn,
.inline-delete-btn{
    display: inline-block;
}
.btn,
.inline-btn{
    background: var(--secondary);
    transition: .5s;
}
.option-btn,
.inline-option-btn{
    background: var(--primary);
    transition: .5s;
}
.delete-btn,
.inline-delete-btn{
    background-color: var(--accent);
    transition: .5s;
}
.btn:hover,
.option-btn:hover,
.delete-btn:hover,
.inline-btn:hover,
.inline-option-btn:hover,
.inline-delete-btn:hover{
    background: var(--background);
    color: var(--text);
}
.header{
    background-color: var(--background);
    border-bottom: var(--text);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 100;
    height: 15rem;
}
.header .flex{
    padding :1.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .flex .logo{
    font-size: 2rem;
    color: var(--primary);
    font-weight: bolder;
}
.header .flex .search-form{
    width: 60rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding: .3rem 2rem;
    background: var(--background);
    box-shadow: 0 0 19px var(--primary);
    transform: .5s;

}
.header .flex .search-form input{
    width: 100%;
    background: none;
    font-size: 1.5rem;
    color: var(--text);
}

.header .flex .search-form button{
    font-size: 2rem;
    color: var(--text);
    cursor: pointer;
    background: none;
}
.header .flex .icon i{
    font-size: 2.5rem;
    color: var(--primary);
    border-radius: 5rem;
    height: 4.5rem;
    cursor: pointer;
    width: 4.5rem;
    line-height: 4.4rem;
    text-align: center;
    margin-left: .5rem;
    transition: .5s;
}
.header .flex .icon i:hover{
    background:  var(--accent);
    color: var(--background);
}
 #search-btn{
    display: none;
}
.header .flex .profile{
    position: absolute;
    top: 120%; right: 2rem;
    background-color: var(--background);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;
    transition: .2s linear;
    box-shadow: 0 0 10px var(--text);
}
.header .flex .profile.active{
    transform: scale(1);
}
.header .flex .profile img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: .5rem;
}
.header .flex .profile h3{
    font-size: 2rem;
    color: var(--text);
}
.header .flex .profile span{
    color: var(--primary);
    font-size: 1.5rem;
}
.flex-btn{
    display: flex;
    gap: 1rem;
}
.wave {
    position: absolute;
    top: 14.7rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
    
}

.wave svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 200px;
   
}

.wave .shape-fill {
    fill: var(--background);
    
}
.side-bar{
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 7rem;
    top: 0; left: 0;
    background: var(--background);
    /* optional*/
    /* box-shadow: 0 0 10px var(--accent); */
    z-index: 10;
    transition: .5s linear;
}
.side-bar.active{
    left: -30rem;
}
.side-bar .navbar{
    margin-top: 30rem;
}
.side-bar .navbar a{
    width: 100%;
    display: block;
    margin: 0rem 0;
    font-size: 2.3rem;
    color: var(--primary);
    text-decoration: none;
    transition: .5s ;
    text-align: center;
    border-radius: 50%;
}
.side-bar .navbar a i{
    color: var(--primary);
    transition: .2s ;
     
}
.side-bar .navbar a span{
    font-size: 1.2rem;
     
}
.side-bar .navbar a:hover{
    background: var(--accent);
    color: var(--background);
    border-radius: 20%;
    font-weight: bolder;
}
.side-bar .navbar a:hover i{
    color: var(--background);
}

.footer{
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    /* background-color: var(--background); */
    border-top: var(--text);
    padding: 2.5rem 2rem;
    text-align: center;
    color: var(--primary);
    font-size: 2rem;
    margin-top: 2rem;
    z-index: 10000;
    /* cursor:progress; */
}
